.container {
  width: 100%;
  padding: 30px;

  @media screen and (max-width: 1140px) {
    padding: unset;
  }
}

.product {
  display: grid;
  grid-template-columns: 65% 32%;
  column-gap: 3%;
  height: 100%;

  @media screen and (max-width: 1140px) {
    grid-template-columns: 100%;
    row-gap: 5%;
  }

  &_lhs {
    display: grid;
    grid-template-rows: 50% auto auto;
    row-gap: 2%;
    height: 100%;

    @media screen and (max-width: 1140px) {
      grid-template-rows: auto auto auto;
      row-gap: 5%;
      margin-bottom: 5%;
    }

    &_productImage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        height: 100%;

        @media screen and (max-width: 1140px) {
          width: 300px;
          height: unset;
        }
      }
    }

    &_productMainInfo {
      background-color: #f6f6f6f6;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      p {
        font-size: 16px;
        font-weight: 800;
        padding: 10px 0;

        span {
          font-weight: 300;
        }
      }
    }

    &_productTab {
      background-color: #f6f6f6f6;
    }
  }

  &_rhs {
    display: grid;
    row-gap: 2%;
    height: 100%;
    width: 100%;
    margin-top: 5%;

    @media screen and (max-width: 1140px) {
      grid-template-columns: calc(95% - 385px) 385px;
      column-gap: 5%;
    }

    @media screen and (max-width: 420px) {
      grid-template-columns: 100%;
      row-gap: 5%;
    }

    &_user {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: #f6f6f6f6;

      @media screen and (max-width: 1140px) {
        padding: 30px;
      }

      @media screen and (max-width: 420px) {
        width: 100%;
        padding: 30px 12px;
      }

      img {
        border-radius: 100%;
        margin-bottom: 15px;
        object-fit: cover;
        height: 80px;
        width: 80px;
      }

      p {
        color: #272e71;
        font-weight: bold;
        font-size: 18px;
        padding: 10px 0;
      }

      span {
        color: #000000;
        font-weight: 600;
        font-size: 16px;
      }
    }

    &_map {
      width: 100%;
      height: 100%;
    }
  }
}
