.tabsWrapper {
  display: flex;

  .tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    background: white;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }

  .tabs:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }

  .active-tabs {
    background: #272e71;
    color: white;
  }

  button {
    border: none;
  }
}

.content-tabs {
  flex-grow: 1;

  .content {
    background: #ffffff;
    padding: 20px;
    height: 100%;
    display: none;

    p {
      line-height: 1.5rem;
      font-size: 16px;
    }

    h3 {
      margin: 10px 0;
    }

    input {
      width: 100%;
      height: 50px;
      border: none;
      cursor: text;

      &::placeholder {
        line-height: 1.5rem;
        font-size: 15px;
        margin: 5px;
        color: #000000;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .active-content {
    display: block;
  }
}
